<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rui Costa's personal website">
    <meta name="author" content="Rui Costa">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    
    <!-- FontAwesome JS -->
    <script defer src="/assets/fontawesome/js/all.js"></script>
    
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/assets/css/theme-9.css">
        
    <!-- Syntax highlight -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/stackoverflow-dark.min.css">

</head>

<body class="dark-mode">
    
    <header class="header text-center">
        <div class="force-overflow">
            <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="{{ siteUrl }}">Rui Costa</a></h1>
            
            <nav class="navbar navbar-expand-lg navbar-dark" >
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div id="navigation" class="collapse navbar-collapse flex-column" >
                    <div class="profile-section pt-3 pt-lg-0">
                        <img class="profile-image mb-3 rounded-circle mx-auto" src="/assets/images/profile.png" alt="image" >
                        
                        <div class="bio mb-3">Hi, my name is Rui Costa and I'm a Software Engineer based in London, UK.</div><!--//bio-->
                        <ul class="social-list list-inline py-2 mx-auto">
                            <li class="list-inline-item"><a href="https://twitter.com/ruipfcosta"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/ruipfcosta/"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/ruipfcosta"><i class="fab fa-github-alt fa-fw"></i></a></li>
                        </ul><!--//social-list-->
                        <hr>
                    </div><!--//profile-section-->
                    
                    <ul class="navbar-nav flex-column text-start">
                        <li class="nav-item">
                            <a class="nav-link {% if currentPage == "index" %}active{% endif %}" href="/"><i class="fas fa-blog fa-home me-2"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if currentPage == "blog" %}active{% endif %}" href="/blog.html"><i class="fas fa-blog fa-fw me-2"></i>Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if currentPage == "about" %}active{% endif %}" href="/about.html"><i class="fas fa-user fa-fw me-2"></i>About Me</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div><!--//force-overflow-->
    </header>
    
    <div class="main-wrapper">
        {% block content %}{% endblock %}
        
        {% include "footer.html" %}
    </div><!--//main-wrapper-->

    <!-- Bootstrap -->
    <script src="/assets/plugins/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Syntax highlight -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    
</body>
</html>

